

/*couleurs de fond*/
body{
  background-color: #666565;
  cursor: url(images/Alternate.cur), pointer;
}
.coordonnees{
  color: white;
  text-align: center;
  line-height: 14px;
  margin-top: 7px;
}
.cvpapier{
  text-align:;
}
.prenom_nom{
  margin-top: 10px;
  color: white;

  font-family: 'Shadows Into Light', cursive;
  font-size: 300%;
  text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.2),
             -2px 7px 45px rgba(0,0,0, 0.4);
}
.dev_junior{
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 300%;
  text-shadow: 0 1px 0 #eee,
               0 2px 0 #e5e5e5,
               -1px 3px 0 #C8C8C8,
               -1px 4px 0 #C1C1C1,
               -2px 5px 0 #B9B9B9,
               -2px 6px 0 #B2B2B2,
               -2px 7px 2px rgba(0,0,0, 0.6),
               -2px 7px 8px rgba(0,0,0, 0.2),
               -2px 7px 45px rgba(0,0,0, 0.4);
}
.line {
  text-align: center;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.bouton {
  text-align: center;
}
.experiences {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 2%;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.competences{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.CSS{
  text-align: center;
}
.images{
  width: 5%;
}
.imagescss{
  width: 4%;
}
#experiences{
  text-align: center;
}
.centre{
  text-align: center;
}
.corp_exp{
  text-align: center;
}
.title_formation{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.corp_formations{
  text-align: center;
}
.title_qualites{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.corp_qualites{
  text-align: center;
  padding-bottom: 2%;
}
