

/*couleurs de fond*/
body{
  background-color: #666565;
  cursor: url(images/Alternate.cur), pointer;
}
.coordonnees{
  color: white;
  text-align: center;
  line-height: 14px;
  margin-top: 7px;
}
.cvpapier{
  text-align:;
}
.prenom_nom{
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 300%;
}
.dev_junior{
  font-family: 'Indie Flower', cursive;
  color: black;
  text-shadow: 1px 1px white;
  font-size: 300%;
}
.line {
  text-align: center;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.bouton {
  text-align: center;
}
.experiences {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 2%;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.competences{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.CSS{
  text-align: center;
}
.images{
  width: 5%;
}
.imagescss{
  width: 4%;
}
#experiences{
  text-align: center;
}
.centre{
  text-align: center;
}
.corp_exp{
  text-align: center;
}
.title_formation{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.corp_formations{
  text-align: center;
}
.title_qualites{
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-size: 150%;
}
.corp_qualites{
  text-align: center;
  padding-bottom: 2%;
}
